// button
#btn-control {
  margin-top: 1.2rem;
  height: 50px;
  position: relative;
  button {
    display: inline-block;
    border-radius: 8px;
    height: 46px;
    width: 10rem;
    text-align: center;
    line-height: 46px;
  }

  .btn-d-none {
    display: none;
  }
  .btn-previous {
    text-align: start;
  }
  .btn-next {
    width: 10rem;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #f67599;
    color: $white;
  }
  .btn-done {
    background-color: #f67599;
    color: $white;
    position: absolute;
    top: 0;
    right: 0;
  }

  .arrow-previous::before {
    content: "\2190";
    font-size: 20px;
    margin-right: 1rem;
  }
  .arrow-next::after {
    content: "\2192";
    font-size: 20px;
    margin-left: 1rem;
  }
}
